<h1>Burgerz!</h1>

<h2>Fresh Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
        <li>
            {{burger_name}}
            <button class="devour" data-id="{{id}}" devourState="{{eaten}}">Devour</button>
        </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
        <li>
            {{burger_name}}
        </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Make a burger</h2>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="newBurger" name="name">
  </div>

  <button type="submit">Make Burger</button>
</form>