<div class="container">
    <div class="row">
        <div class="col">
            <h1>Eat Dab Burger!</h1>
            <img src="/assets/img/burger3.png" alt="burger" class="mx-auto d-block"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Fresh Burgers</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li class="fresh-burger">
                    {{burger_name}}
                    <button class="devour btn btn-danger btn-sm" data-id="{{id}}" devourState="{{eaten}}">Devour</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col">
            <h2>Eaten Burgers</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li class="eaten-burger">
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Make a burger</h2>
            <form class="burger-form">

                <div class="form-group">
                    <input type="text" id="newBurger">
                </div>

                <button type="submit" class="btn btn-success">Make Burger</button>
            </form>
        </div>
    </div>
</div>